body{
    background-image: url("./../img/bg1-t4-2.jpg");
}

input, button, textarea{
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}
textarea{
    width: 550px;
    height: 350px;
}
#message{
    width: 550px;
}

@media all and (max-width: 595px){
    textarea{
        width: 450px;
        height: 300px;
    }
}
@media all and (max-width: 500px){
    textarea{
        width: 300px;
        height: 250px;
    }
}
@media all and (max-width: 350px){
    textarea{
        width: 250px;
    }
}